<nav class="navbar bg-dark" >
  <div class="container-fluid">
    <img src=" https://cdn.shopify.com/s/files/1/0105/9484/4730/files/petmarkt_-_sabemos_como_-_blanco_1036x217.png?v=1613525359"alt="Logo" width="180" height="50" >

    <form class="col-6  mb-2 mb-lg-0 me-lg-2 content-center" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>




<nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark " data-bs-theme="dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           MARCA
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alimento</a></li>
            <li><a class="dropdown-item" href="#">Premios</a></li>
            <li><a class="dropdown-item" href="#">Higiene y Salud</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Accesorios</a></li>
          </ul>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PERROS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alimento</a></li>
            <li><a class="dropdown-item" href="#">Premio</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Otros</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            GATOS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alimento</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Otros</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           TECNOLOGIA
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Tecnologia y Software</a></li>
            <li><a class="dropdown-item" href="#">Squenda</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Conmutador Digital</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CAPACITACION
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">BLOG Y NOTICIAS</a></li>
            <li><a class="dropdown-item" href="#">Capacitaciones</a></li>
            <li><a class="dropdown-item" href="#">Actualizacion de Plataforma</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Blog y consejos</a></li>
          </ul>
        </li>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           MEDIA KITS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">SOFTWARE Y HERRAMIENTAS</a></li>

          </ul>
        </li>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          ORDEN RAPIDO
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alimento</a></li>
            <li><a class="dropdown-item" href="#">Precio</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Higiene y Salud</a></li>
          </ul>
        </li>

      </ul>



        <a type="submit">Iniciar Seccion</a>

    </div>
  </div>
</nav>




<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/t/33/assets/slide_mobile_dpv_1.png?v=161729854653230338671669219856" class="d-block w-100" alt="..." width="800" height="800">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.shopify.com/s/files/1/0410/1449/3343/collections/BANNERPETMARK.jpg?v=1654059430" class="d-block w-100" alt="..."  width="800" height="800">
    </div>
    <div class="carousel-item">
      <img src="https://www.petmark.com.mx/wp-content/uploads/2022/11/omg.png" class="d-block w-100" alt="..."  width="800" height="600">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card" style="width: 20rem;">
  <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/DENTALSTIXX-CATNIP_1_1800x1800.jpg?v=1671217466" class="card_im" alt="...">
  <div class="card-body">
    <h5 class="card-title">Premios Para Gatos Dental Stixx Emerald Pet Sin Granos, Sabor Catnip y Calabaza 3.6 oz</h5>
    <p class="card-text">Esmerald pet</p>
    <div class="money" >$ 209.00</div>
    <div class="public_title">Precio Público</div>
    <a href="#" class="btn btn-primary">Vista Rapida</a>
  </div>

  <div class="card" style="width: 20rem;">
    <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Salmon_1800x1800.png?v=1670972296" class="card_im" alt="...">
    <div class="card-body">
     <h5 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Salmón Salvaje, para perros de todas las razas, tamaños y edades. 155 gramos</h5>
      <p class="card-text">Un Dos Treats</p>
      <div class="money" >$ 160.00</div>
      <div class="public_title">Precio Público</div>
    <a href="#" class="btn btn-primary">Vista Rapida</a>


    <div class="card" style="width: 20rem;">
      <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Salmon_1800x1800.png?v=1670972296" class="card_im" alt="...">
      <div class="card-body">
        <h5 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Salmón Salvaje, para perros de todas las razas, tamaños y edades. 155 gramos</h5>
        <p class="card-text">Un Dos Treats</p>
        <div class="money" >$ 160.00</div>
        <div class="public_title">Precio Público</div>
      <a href="#" class="btn btn-primary">Vista Rapida</a>
    </div>
      <div class="card" style="width: 20rem;">
        <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Frente_Pollo_1800x1800.png?v=1670971804" class="card_im" alt="...">_
        <div class="card-body">
          <h5 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Treats, sabor Pollo Asado, para perros de todas las razas, tamaños y edades. 155 gramos</h5>
          <p class="card-text">Un Dos Treats</p>
          <div class="money" >$ 160.00</div>
          <div class="public_title">Precio Público</div>
      <a href="#" class="btn btn-primary">Vista Rapida</a>
    </div>

        <div class="card" style="width: 20rem;">
          <img src="https://cdn.shopify.com/s/files/1/0105/9484/4730/products/Front_Pork_1800x1800.png?v=1670970995" class="card_im" alt="...">
          <div class="card-body">
            <h5 class="card-title">Premios para perros ideales para entrenamiento Zukulentos Un Dos Teats, sabor Cerdo Ahumado, para perros de todas las razas, tamaños y edades. 155 gramos</h5>
            <p class="card-text">Un Dos Treats</p>
            <div class="money" >$ 160.00</div>
            <div class="public_title">Precio Público</div>
      <a href="#" class="btn btn-primary">Vista Rapida</a>
    </div>